<h1>お気に入り一覧</h1>

<table>
  <tr>
    <th>画像</th>
    <th>内容</th>
    <th>ユーザー</th>
  </tr>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= image_tag(favorite.picture.image.url)%></td>
    <td><%= favorite.picture.content %></td>
    <td><%= favorite.picture.user.name %></td>
  </tr>
<% end %>
</table>

 <%= link_to "投稿一覧画面にもどる", pictures_path %>
